!!!
%html
  %head
    = render "head"

  %body
    = render "preloader"
    / # = render "search_overlay"

    = render "search_overlay_menu"
    = render "side_menu"
    .wrapper
      = render "header"
      = yield
    = javascript_include_tag "application"
